<%- include('header') %>

<div class="container main">
  <header class="center">
    <h4 class="red-text">Todoism</h4>
  </header>
  <div class="row card-panel hoverable">
    <span class="col s10">
      <span class="active-item">404 - 頁面不存在</span>
    </span>
    <span class="col s2">
      <a class="button right" href="/">返回</a>
    </span>
  </div>
</div>

<%- include('footer') %>