<%- include('header') %>

<div class="container" id="signin">
  <div class="row">
    <h4 class="center red-text">登入</h4>
    <form method="POST" action="/signin" class="col s8 push-s2 m8 push-m2 xl6 push-xl3">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="col s12">
        <div class="input-field">
          <input name="username" type="text" placeholder="帳號" autofocus>
        </div>
        <div class="input-field">
          <input name="password" type="password" placeholder="密碼">
        </div>
        <input type="submit" class="btn red right" value="登入">
      </div>
    </form>
  </div>
</div>

<%- include('footer') %>
